h1, h2, h3, h4, h5, h6, p, a, footer {
  font-family: minerva-modern, sans-serif;
  font-weight: 300;
  font-size: 70px;
}

a:hover {
  color: salmon;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.linkedin, .github {
  height: 70px;
  vertical-align: middle;
}

.resources>a {
  display: block;
  margin-left: 1.1em;
  font-size: 40px;
}

.resources {
  padding-top: 80px;
}

.nav-right {
  display: none;
}

.nav-left {
  text-align: center;
}

.link_logo {
  display: none;
}

nav ul {
  list-style-type: none;
}

.menuitems li {
  margin: 0 10px 0 10px;
  float: right;
}

li a {
  text-decoration: none;
  color: black;
  font-family: 'Trebuchet MS';
  text-transform: uppercase;
  float: left;
}

.profile {
  text-align: center;

}

.profile img {
  width: 65%;
}

.profile p {
  padding: 5% 10%;
}

.text {
  width: 70%;
  margin: 0 auto;
}

.toptext {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 60%;
}

.toptext p {
  text-align: center;
  padding: 40px 0 50px 0;
}

.left {
  padding-right: 10px;
}

.left h2 {
  font-style: italic;
}

.right {
  padding-left: 10px;
}

.button {
  justify-content: center;
}

footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px 30px 0px;
  font-size: 15px;
}

.emph, .citation {
  font-style: italic;
}

.locationDate h4 {
  margin-bottom: 0;
}

.locationDate h5 {
  margin-bottom: 0;
  font-style: italic;
  font-size: 50px;
}

.position h5 {
  margin-top: 0;
  font-size: 50px;
}

.oldPosition h5 {
  font-size: 50px;
}

.promotion h5 {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 0;
}

.resume p {
  font-size: 40px;
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
}

/* style of dropdown menu */
:root {
  --primary-color: rgba(119, 137, 143, 0.75);
  --overlay-color: rgba(81, 80, 88, 0.85);
  --menu-speed: 0.75s;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* menu styling from https://codepen.io/bradtraversy/pen/vMGBjQ */
/* MENU STYLES */
.dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.dropdown-menu .toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.dropdown-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.dropdown-menu .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.dropdown-menu .hamburger>div::before,
.dropdown-menu .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.dropdown-menu .hamburger>div::after {
  top: 10px;
}

/* toggle Animation */
.dropdown-menu .toggle:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.dropdown-menu .toggle:checked+.hamburger>div:before,
.dropdown-menu .toggle:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.dropdown-menu .toggle:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.dropdown-menu .toggle:checked~.menu {
  visibility: visible;
}

.dropdown-menu .toggle:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.dropdown-menu .toggle:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.dropdown-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .menu>div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.dropdown-menu .menu>div>div {
  /* text-align: center; */
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.dropdown-menu .menu>div>div>ul>li, .resources>a {
  list-style: none;
  color: #fff;
  padding: 3rem;
  font-family: 'Trebuchet MS';
}

.dropdown-menu .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size: 50px;
}

.dropdown-menu .menu>div>div>ul>li>a>img {
  padding: 10px;
  display: inline-block;
}

@media (min-width: 1024px) {

  h1, h2, h3, h4, h5, h6, p, a, footer {
    font-size: x-large;
  }

  .dropdown-menu {
    display: none;
  }

  .title {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .side {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .side h5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .center {
    display: flex;
    width: 60%;
    justify-content: center;
    font-size: 120%;
  }

  .profile {
    margin: 0 auto;
    display: flex;
    padding-bottom: 80px;
    width: 70%;
  }

  .about {
    margin-left: 10%;
  }


  .body {
    padding: 0 10%;
  }

  .link_logo img {
    padding-left: 20px;
  }

  .github {
    display: inline-block;
    height: 40px;
  }

  .linkedin {
    height: 40px;
  }

  .nav-right {
    display: inline;
    width: 40%;
    padding-top: 20px;
  }

  .nav-left {
    display: flex;
    width: 45%;
  }

  .link_logo {
    width: 15%;
    padding-top: 23px;
    display: flex;
  }

  nav ul {
    list-style-type: none;
  }

  .menuitems li {
    margin: 0 10px 0 10px;
    float: right;
  }

  li a {
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS';
    text-transform: uppercase;
    float: right;
  }

  .profile {
    text-align: left;
  }

  .profile img {
    width: 45%;
  }

  .profile p {
    font-size: 30px;
    padding: 0;
  }

  .text {
    width: 90%;
    margin: 0 auto;
  }

  .toptext {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 60%;
  }

  .toptext p {
    text-align: center;
    font-size: 150%;
    padding: 40px 0 50px 0;
  }

  .body {
    display: flex;
    padding: 10px;
    width: 70%;
  }

  .left {
    width: 30%;
    padding-right: 10px;
  }

  .left h2 {
    font-style: normal;
  }

  .right {
    width: 70%;
    padding-left: 10px;
  }

  .button {
    justify-content: center;
  }

  footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px 30px 0px;
    font-size: 15px;
  }

  .emph, .citation {
    font-style: italic;
  }

  .locationDate {
    display: flex;
  }

  .locationDate h4 {
    width: 70%;
    font-size: 20px;
    margin-bottom: 0;
  }

  .locationDate h5 {
    width: 30%;
    font-size: 15px;
    font-style: italic;
    text-align: right;
    margin-bottom: 0;
  }

  .position h5 {
    margin-top: 0;
    font-size: 17px;
  }

  .promotionSection {
    display: flex;
  }

  .oldPosition {
    width: 70%;
  }

  .oldPosition h5 {
    font-size: 17px;
  }

  .promotion {
    text-align: right;
    width: 30%;
  }

  .promotion h5 {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0;
  }

  .resume p {
    background-color: white;
    font-size: x-large;
    list-style-type: none;
  }

}